<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://user-images.githubusercontent.com/3600593/43300671-1b0f0922-9193-11e8-98d0-73153daf40d1.png">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" routerLink="players" routerLinkActive="active-link">
        Players
      </a>

      <!--
      <a class="navbar-item" routerLink="teams" routerLinkActive="active-link">
        Teams
      </a>
      -->

      <a class="navbar-item" routerLink="games" routerLinkActive="active-link">
        Games
      </a>

    </div>

    <!--
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
    -->
  </div>
</nav>
