.logo {
    display: block;
    margin: 0 auto;
    max-width: 20%;
  }
  
.welcome {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.opensource-info {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}

.icon-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.icon-link a {
    display: block;
}

.github-icon {
    font-size: 36px;
}

.github-discord {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}