<!-- Logo en grand -->
<div class="logo">
    <img src="https://media.discordapp.net/attachments/940188685733871627/1075038453177258055/logo_02_alpha.png" alt="Civ.gg logo">
</div>

<!-- Phrase de bienvenue -->
<div class="welcome">
    <h1>Welcome to Civ.gg</h1>
    <p>Upload your games using <a href="https://sourceforge.net/projects/civ-vi-replay/files/CivVIReplay_v2.7.zip/download">CivReplay</a></p>
</div>


<!-- Explication de la partie open source avec lien Github -->
<div class="opensource-info">
    <p>Civ.gg is an open source project. Learn more on Github and on Discord.</p>
</div>
<div class="github-discord">
    <a href="https://discord.gg/g3yvTgbA5Q">
        <img src="https://cdn-icons-png.flaticon.com/512/3670/3670157.png" width="75" height="75">
    </a>
    <a href="https://github.com/artprevo/civgg">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" width="75" height="75">
    </a>
</div>