*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  flex: 1 1 auto;
  margin-bottom: 30px;
}

.footer {
  background-color: rgb(25, 32, 35);
  background-image: linear-gradient(to right, rgb(26, 43, 62), rgb(20, 30, 48));
  height: 10px;
}